<h1>編集ページ</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :profile %>
      <%= f.text_area :profile,  class: 'form-control', placeholder: "160文字以内で入力" %> 
      
      
      
      <%= f.submit "変更する", class: "btn btn-success" %>
    <% end %>

    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank">画像の変更</a>
    </div>
  </div>
</div>