<li id="post-<%= post.id %>">
  <%= link_to gravatar_for(post.user, size: 50), post.user %>
  
  <span class="content"><%= link_to post.title, post_path(post) %></span>
  <span class="timestamp">
    <%= link_to post.user.name, post.user %> が <%= post.created_at.to_s(:datetime_base) %> に投稿
    
  </span>
  <% if current_user?(post.user) %>
      <%= link_to "消去", post, method: :delete,
                                       data: { confirm: "You sure?" } %>
  <% end %>
  
</li>