<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <ul class="header-left">
      <li class="header-logo"><%= link_to "Qiitonka", root_path, id: "logo" %></li>
      <li class="search">
        <dl class="searchbox">
          <%= search_form_for @search, url: posts_path do |f| %>
            <dt><%= f.text_field :title_or_content_cont ,placeholder: '検索するテキストを入力...' %></dt>
            <dd><%= f.submit ("検索") , class: 'search-btn'%></dd>
          <% end %>
        </dl>  
      </li>
    </ul>
    
    
    
    
    <nav>
      <ul class="nav navbar-nav navbar-right">
        
        
        <% if logged_in? %>
          <li><%= link_to "ユーザー一覧", users_path %></li>
          <li><%= link_to "投稿", new_post_path %></li>
          <li><%= link_to "ストック一覧", stocks_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= gravatar_for(current_user, size: 30) %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "マイページ", current_user %></li>
              <li><%= link_to "設定", edit_user_path(current_user)  %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "ログアウト", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "ログイン", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>